/* -- Layout classes ------------------------------------------------------- */

body {
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px 0;
}

/* Page header tweaks */
.page-header {
    background-color: #f5f5f5;
    padding: 20px 20px 10px;
    margin: -20px -20px 20px;
}

/* -- General classes ------------------------------------------------------ */

.negative {
    color: @red;
}

.positive {
    color: @green;
}

/* -- Table styling -------------------------------------------------------- */ 

.table-bordered th {
    background-color: @grayLighter;
}

ul.actions {
    background: transparent;
    border: 0;
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
        float: left;
        margin-left: 6px;
    }
}

div.dataTables_length label {
	float: left;
	text-align: left;
}

div.dataTables_length select {
	width: 75px;
}

div.dataTables_filter label {
	float: right;
}

div.dataTables_info {
	padding-top: 8px;
}

div.dataTables_paginate {
	float: right;
	margin: 0;
}

table.table {
	margin-bottom: 6px !important;
    .clearfix();
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
	cursor: pointer;
	*cursor: hand;
    background-repeat: no-repeat;
    background-position: center right;
}

table.table thead .sorting {
    background-image: url('/img/sort_both.png');
}

table.table thead .sorting_asc {
    background-image: url('/img/sort_asc.png');
}

table.table thead .sorting_desc {
    background-image: url('/img/sort_desc.png');
}

table.table thead .sorting_asc_disabled {
    background-image: url('/img/sort_asc_disabled.png');
}

table.table thead .sorting_desc_disabled {
    background-image: url('/img/sort_desc_disabled.png');
}