/* -- Layout classes ------------------------------------------------------- */
@media (min-width: 768px) {
    body {
        padding: 60px 0 10px;
    }
}

@media (max-width: 980px) {
    body {
        padding: 0 0 10px;
    }
}

#wrapper {
    background: @white;
    border: 1px solid #ddd;
    .border-radius();
}

.page-header {
    border-bottom: 1px solid #ddd;
    background-color: #f5f5f5;
    #gradient .vertical(#f5f5f5, #eee);
    padding: 16px;
    margin: 0;
    .clearfix();
    h1 {
        color: @gray;
        font-size: @baseFontSize + 5;
        float: left;
    }

    #quickAction {
        float: right;
        a {
            color: @black;
            i {
                padding-right: 5px;
            }
        }
    }
}

#contentWithSideBar {
    padding: 20px 20px 20px 0;
}

#content {
    padding: 20px;
}

#sideBar {
    background: #F9F9F9;
    ul {
        li:first-child > a {
            border-top: none;
        }
        li a {
            .border-radius(0);
            border-left: none;
            background: #F9F9F9;
            padding-left: 16px;
        }
        li a:hover {
            background: @grayLighter;
        }
        li.active a { border-right: none; background: @white; color: @linkColor; }
        li.active a:hover { color: @linkColorHover; }
    }
}

/* -- General classes ------------------------------------------------------ */

.negative {
    color: @red;
}

.positive {
    color: @green;
}

/* -- Table styling -------------------------------------------------------- */ 

.table-bordered th {
    background-color: @grayLighter;
}

ul.actions {
    background: transparent;
    border: 0;
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
        float: left;
        margin-left: 6px;
    }
}

div.dataTables_length label {
	float: left;
	text-align: left;
}

div.dataTables_length select {
	width: 75px;
}

div.dataTables_filter label {
	float: right;
}

div.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 30px;
    margin-left: -125px;
    margin-top: -15px;
    padding: 16px 0 2px 0;
    border: 1px solid #DDD;
    text-align: center;
    background-color: #F9F9F9;
}

div.dataTables_info {
	padding-top: 8px;
}

div.dataTables_paginate {
	float: right;
	margin: 0;
}

table.table {
	margin-bottom: 6px !important;
    .clearfix();
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
	cursor: pointer;
	*cursor: hand;
    background-repeat: no-repeat;
    background-position: center right;
}

table.table thead .sorting {
    background-image: url('/img/sort_both.png');
}

table.table thead .sorting_asc {
    background-image: url('/img/sort_asc.png');
}

table.table thead .sorting_desc {
    background-image: url('/img/sort_desc.png');
}

table.table thead .sorting_asc_disabled {
    background-image: url('/img/sort_asc_disabled.png');
}

table.table thead .sorting_desc_disabled {
    background-image: url('/img/sort_desc_disabled.png');
}