/*
	Stylesheet for financeapp

	Media:      screen
*/
@import "reset.less";

/* -- Typography ----------------------------------------------------------- */

@font-face {
    font-family: 'AllerRegular';
    src: url('font/aller_rg-webfont.eot');
    src: url('font/aller_rg-webfont.eot?iefix') format('eot'),
         url('font/aller_rg-webfont.woff') format('woff'),
         url('font/aller_rg-webfont.ttf') format('truetype'),
         url('font/aller_rg-webfont.svg#webfontgFJ6KhK4') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font: 13px/1.231 sans-serif; *font-size: small;
} /* Hack retained to preserve specificity */

select, input, textarea, button {
    font: 99% sans-serif;
}

body, select, input, textarea {
    color: #333;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

a, a:active, a:visited {
    color: #0044CC;
}

a:hover {
    color: #036;
}

a:focus {
    outline-color: #000;
    outline-style: dotted;
    outline-width: 1px;
}

p, ul, ol, blockquote, pre, td, th, label {
	margin-bottom: 1.231em;
}

pre {
    font-family: "Courier New", Courier, monospace;
    font-size: 85%;
}

@import "buttons.less";

@import "table.less";

/* -- Messages -------------------------------------------------------------- */

#messages {
    list-style-type: none;
    padding: 8px;
    border: solid 1px #dedede;
    background: #ffc;
    color: #444;
    text-align: center;
    margin: 0 0 22px;
}

/* -- General classes ------------------------------------------------------- */

.negative {
    color: #eb0101;
}

.positive {
    color: #279700;
}

ul.actions {
    float: right;
    list-style-type: none;
    margin: 0;
    li {
        float: left;
        margin-left: 6px;
    }
    
}

/* -- Basic layout --------------------------------------------------------- */

body {
    background: #e5e5e5 url('../img/bg.png') repeat-x ;
}

#wrapper {
    margin: 0 auto;
    width: 940px;
}

/* -- Header --------------------------------------------------------------- */

header {
    height: 71px;
    h1 {
        font-family: 'AllerRegular';
        font-weight: normal;
        color: #fff;
        font-size: 167%;
        text-shadow: #333 1px 1px;
        padding: 10px 0 0;
        float: left;
    }

    #subNav {
        ul {
		    height: 23px;
		    line-height: 23px;
		    li {
		        float: right;
		        font-size: 0.9em;
		        a {
		            background: #313131;
                    color: #b3b3b3;
                    display: block;
                    padding: 0 6px;
                    margin-right: 3px;
                    text-decoration: none;
                }
                a:hover {
                    color: #fff;
                }
	        }
	    }
	}

    #mainNav {
        ul {
            height: 28px;
            line-height: 28px;
            margin: 19px 1px 0 1px;
            border-bottom: 1px solid #fff;
            li {
                float: left;
                a {
                    display: block;
                    padding: 0 19px;
                    color: #b3b3b3;
                    text-decoration: none;
                }
                a:hover {
                    color: #fff;
                }
            }
            li.active {
                background: #f1f1f1;
                border-bottom: 1px solid #f1f1f1;
                a {
                    color: #333;
                }
                a:hover {
                    color: #b3b3b3;
                }
            }
        }
    }
}

/* -- ContentWrapper ------------------------------------------------------- */

#contentWrapper {
    background: #fff;
    border-color: #d6d6d6;
    border-style: solid;
    border-width: 0 1px 1px;
}

    /** PageTitle **/

    section#pageTitle {
        background: #f1f1f1;
        border-bottom: 1px solid #d6d6d6;
        h1 {
            float: left;
            font-size: 153.9%;
            font-family: 'AllerRegular';
            font-weight: normal;
            padding: 10px 0 10px 15px;
        }
    }

    #quickAction {
        float: right;
        margin: 9px 15px 0 0;
    }

    /** SideBar **/

    #sideBar {
        float: left;
        padding: 15px 0 15px 15px;
        width: 160px;
        div.block {
            width: 160px;
            margin: 0 0 10px;
            h3 {
                font-family: 'AllerRegular';
                font-size: 95%;
                font-weight: normal;
                color: #505050;
                text-transform: capitalize;
                margin: 0 0 10px;
            }
            .content {
                border: 1px solid #e5e5e5;
                background: #f9f9f9;
                padding: 10px;
                font-size: 90%;
                ul {
                    margin-bottom: 0;
                    li {
                        padding: 0 0 2px;
                    }
                }
            }
        }
    }

    /** Content **/

    #content {
        float: left;
        padding: 15px;
        width: 733px;
    }

/* -- Footer --------------------------------------------------------------- */

footer {
    margin: 10px 0 5px;
    p {
        font-size: 77%;
        text-align: center;
    }
}

